#mycanvas {
    padding-left: 5pt;
    align-self: center;
    height : 500px;
    width : 80vw;
    border: 10px solid black;
    border-radius: 12px;
    background-color:khaki;
    user-select: none;
}

div{
    text-align: center;
}

h1{
    font-style: italic;
    font-size: 35pt;
    font-weight: bold;
    font-family: monospace;
    display: inline-block;
    position: relative;
    left: 35%;
    margin-top: 20px;
}

body{
    background-color: burlywood;
}

.form-select{
    display: inline-block;
    float: right;
}